repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix, --unsafe-fixes ]
    # Run the formatter.
    - id: ruff-format
